* { box-sizing: border-box; vertical-align: top; }
html { background: #F9F9F9; }
body {
  font: 18px/140% sans-serif;
  margin: 0;
}
a { color: inherit; text-decoration: none; }
p, h1 { margin: 0.5em 0; }
h1 { font-size: 24px; }

input, button, .button, textarea { font: inherit; outline: none; }
input[type=text], textarea, .input { background: #EEE; border: none; border-bottom: 2px solid black; border-radius: 4px 4px 0 0; }
input[type=text], textarea { padding: 15px 15px 13px; }
input[type=text]::placeholder, textarea::placeholder { font-style: italic; }

button, .button { display: inline-block; padding: 15px 15px 15px; background: #ffdf0f; border: none;  border-radius: 4px; cursor: pointer; user-select: none; }
button:hover, .button:hover { background: #ffe53b; }

.page, .header-inner { width: 100%; margin: 0 auto; padding: 0 20px; }

.header { background: #f5f5f5; height: 50px; line-height: 50px; }
.header-inner { display: flex; justify-content: space-between; }
.header-title { font-size: 22px; font-weight: bold; padding: 7px 20px; margin: 0 0 0 -20px; }

.header-section { display: inline-block; margin-left: 1px; font-size: 16px; }
.header-section > a { padding: 10px; border-radius: 4px; user-select: none; }
.header-section > a:hover { text-decoration: underline; }
.header-section > .button { background: transparent; border: none; border-radius: 4px; cursor: pointer; line-height: 38px; vertical-align: baseline; height: 40px; outline: none; padding: 0 10px; }
.header-section > .button:hover { text-decoration: underline; }

.header-section > .button_addbit { padding: 10px 20px; background: #ffdf0f; margin-right: 10px; }
.header-section > .button_addbit:hover { background: #ffe53b; text-decoration: none; }

.page_middle { display: flex; justify-content: center; align-items: center; height: calc(100vh - 200px); }

.signin { width: 100%; min-width: 240px; max-width: 500px; padding: 20px 20px 10px 20px; }
.signin-message { color: #c33; margin: 0 0 15px 0; }
.signin-email { width: calc(100% - 110px); min-width: 200px; margin: 0 10px 10px 0; }
.signin-submit { width: 100px; margin: 0 0 10px 0; }

.message { background: #fff; padding: 20px 60px 30px 30px; }
.message > h1 { font-size: 24px; margin-bottom: 0; }
.message > p > .button { margin: 30px 0 -10px 0; }
.message > p > em { font-style: italic; }

.claim { width: 100%; min-width: 240px; max-width: 650px; padding: 20px 20px 10px 20px; }
.claim-intro { max-width: 500px; margin-left: auto; margin-right: auto; }
.claim-message { color: #c33; margin: 0 0 15px 0; }
.claim-message > em { font-family: monospace; font-style: normal; }
.claim-namespace { display: inline-flex; width: calc(100% - 110px); min-width: 200px; margin: 0 10px 10px 0; cursor: text; }
.claim-namespace-prefix { user-select: none; padding: 14px 0 14px 15px; }
input[type=text].claim-namespace-input { flex-grow: 1; border: none; background: transparent; padding: 14px 15px 14px 3px; min-width: 0; }
.claim-submit { width: 100px; margin: 0 0 10px 0; }
