* { box-sizing: border-box; vertical-align: top; }
html { background: #F9F9F9; }
body {
  font: 18px/140% sans-serif;
  margin: 0;
}
a { color: inherit; text-decoration: none; }
p, h1 { margin: 0.5em 0; }

input, button, .button, textarea { font: inherit; outline: none; }
input[type=text], textarea { background: #EEE; border: none; border-bottom: 2px solid black; border-radius: 4px 4px 0 0; padding: 14px 15px; }

button, .button { display: inline-block; padding: 16px 15px 14px; background: #ffdf0f; border: none;  border-radius: 4px; cursor: pointer; }
button:hover, .button:hover { background: #ffe53b; }

.page, .header-inner { width: 100%; margin: 0 auto; padding: 0 20px; }

.header { background: #f5f5f5; height: 50px; line-height: 50px; }
.header-inner { display: flex; justify-content: space-between; }
.header-title { font-size: 22px; font-weight: bold; padding: 7px 20px; margin: 0 0 0 -20px; }

.header-section { display: inline-block; margin-left: 1px; font-size: 16px; }
.header-section > a { padding: 10px; border-radius: 4px; }
.header-section > a:hover { background: rgba(0,0,0,0.05); }
.header-section > .button { background: transparent; border: none; border-radius: 4px; cursor: pointer; line-height: 38px; vertical-align: baseline; height: 40px; outline: none; padding: 0 10px; }
.header-section > .button:hover { background: rgba(0,0,0,0.05); }

.header-section > .button_create { padding: 10px 20px; background: #ffdf0f; }
.header-section > .button_create:hover { background: #ffe53b; }

.page_middle { display: flex; justify-content: center; align-items: center; height: calc(100vh - 50px); }

.signin { width: 100%; min-width: 240px; max-width: 500px; padding: 20px 20px 10px 20px; }
.signin-message { color: #c33; margin: 0 0 15px 0; }
.signin-email { width: calc(100% - 110px); min-width: 200px; margin: 0 10px 10px 0; }
.signin-submit { width: 100px; margin: 0 0 10px 0; }

.message { background: #fff; padding: 20px 60px 30px 30px; }
.message > h1 { font-size: 24px; margin-bottom: 0; }
.message > p > .button { margin: 30px 0 -10px 0; }
.message > p > em { font-style: italic; }