{:bit/namespace   "bits.weavejester.maps"
 :bit/name        "assoc-some"
 :bit/docstring   "Associates a key with a value in a map, if and only if the value is not nil."
 :bit/body-clj    "(fn assoc-some
  ([m k v]
   (if (nil? v) m (assoc m k v)))
  ([m k v & kvs]
   (reduce (fn [m [k v]] (assoc-some m k v))
           (assoc-some m k v)
           (partition 2 kvs))))"
 :bit/body-cljs   "(fn assoc-some
  ([m k v]
   (if (nil? v) m (assoc m k v)))
  ([m k v & kvs]
   (reduce (fn [m [k v]] (assoc-some m k v))
           (assoc-some m k v)
           (partition 2 kvs))))"
 :bit.author/name "James Reeves"}