{:bit/namespace   "bits.weavejester.maps"
 :bit/name        "map-kv"
 :bit/docstring   "Maps a function over the key/value pairs of an associate collection. Expects
a function that takes two arguments, the key and value, and returns the new
key and value as a collection of two elements."
 :bit/body-clj    "(fn [f coll]
  (reduce-kv
    (fn [m k v]
      (let [[k v] (f k v)]
        (assoc m k v)))
    coll))"
 :bit/body-cljs   "(fn [f coll]
  (reduce-kv
    (fn [m k v]
      (let [[k v] (f k v)]
        (assoc m k v)))
    coll))"
 :bit.author/name "James Reeves"}