{:bits/namespace   bits.tonsky.string
 :bits/name        left-pad
 :bits/doc         "Pads string with char on the left"
 :bits/body-clj    (fn left-pad
                     ([^String s ^long len]
                       (left-pad s len \space))
                     ([^String s ^long len ^Character ch]
                       (let [c (count s)]
                         (if (>= c len)
                           s
                           (let [sb (StringBuilder. len)]
                             (dotimes [_ (- len c)]
                               (.append sb ch))
                             (.append sb s)
                             (str sb))))))
 :bits/body-cljs   (fn left-pad
                     ([s len]
                       (left-pad s len " "))
                     ([s len ch]
                       (let [c (count s)]
                         (if (>= c len)
                           s
                           (str (clojure.string/join (repeat (- len c) ch)) s)))))
 :bits.author/name "Nikita Prokopov" }