{:bit/namespace   "bits.tonsky.string"
 :bit/name        "left-pad"
 :bit/docstring   "Pads string with characters on the left"
 :bit/body-clj    "(fn left-pad
  ([^String s ^long len]
    (left-pad s len \\space))
  ([^String s ^long len ^Character ch]
    (let [c (count s)]
      (if (>= c len)
        s
        (let [sb (StringBuilder. len)]
          (dotimes [_ (- len c)]
            (.append sb ch))
          (.append sb s)
          (str sb))))))"
 :bit/body-cljs   "(fn left-pad
  ([s len]
    (left-pad s len \" \"))
  ([s len ch]
    (let [c (count s)]
      (if (>= c len)
        s
        (str (clojure.string/join (repeat (- len c) ch)) s)))))"
 :bit.author/name "Nikita Prokopov"}