{:bit/namespace   "bits.plumatic.plumbing"
 :bit/name        "grouped-map"
 :bit/docstring   "Like group-by, but accepts a map-fn that is applied to values before
collected."
 :bit/body-clj    "(fn [key-fn map-fn coll]
  (persistent!
   (reduce
    (fn [ret x]
      (let [k (key-fn x)]
        (assoc! ret k (conj (get ret k []) (map-fn x)))))
    (transient {}) coll)))"
 :bit/body-cljs   "(fn [key-fn map-fn coll]
  (persistent!
   (reduce
    (fn [ret x]
      (let [k (key-fn x)]
        (assoc! ret k (conj (get ret k []) (map-fn x)))))
    (transient {}) coll)))"
 :bit.author/name "Plumatic"}